@keyframes popDownExit {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(30px);
    opacity: 0;
  }
}

@keyframes popUpEntry {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.exit-animation {
  animation: 200ms popDownExit ease;
}

.entry-animation {
  animation: 400ms popUpEntry ease 100ms;
  animation-fill-mode: backwards;
}